body {
    background-color: rgb(206, 195, 255);
}
.class1 {
    color: rgb(95, 95, 13);
}
.content {
    background: rgb(212, 201, 201);
    border: 2px dashed;
            border-color: black;
            border-radius: 20%;
    padding-left: 15px; 
    margin-bottom: 10px;     
}
.main {
    margin: 35px;
}
img {
    background-color: rgb(23, 14, 32);
    margin: 0px;
    padding: 10px;
    border: 10px double rgb(71, 10, 10);
}
header {
    color: darkblue;
}
a:hover {
    color: darkgreen;
}